<!doctype html>                                                       <!--Сообщаем браузеру, что это HTML5 документ-->
<html>                                                                <!--Открывающий тег корневого элемента HTML-документа-->
<head>                                                                <!--Определение заголовка документа-->
  <meta charset="utf-8">                                              <!--Кодировка символов для документа стандартная-->
  <title>Рекомендация соотношения матрица-наполнитель</title>         <!--Непосредственно заголовок страницы-->
</head>                                                               <!--Закрывающий тег заголовка-->
<body>                                                                <!--Открывающий тег тела документа-->
  <h1>Введите характеристики материала</h1>                           <!--Заголовок первого уровня-->
  <form method="post" action="/predict">                              <!--Создание HTML-формы. POST - метод отправки данных. /predict - URL-адрес, на который будут отправлены данные формы-->
    {% for f in features %}                                           <!--Блок jinjia2, позволяющий использовать for для прохождения по списку-->
      <div>                                                           <!--division - группировка метки и текстового поля-->
        <label>{{ f }}:</label>                                       <!--Создание метки для текстового поля ввода. На каждой итерации будет выводиться элемент features-->
        <input name="{{ f }}" type="text" value="{{ defaults[f] }}">  <!--Создание текстового поля ввода. Тип - текстовое поле. Значение для поля устанавливается по умолчанию.-->
      </div>                                                          <!--Закрывающий тег div-->
    {% endfor %}                                                      <!--Конец цикла for-->
    <div>
      <button type="submit">Получить прогноз</button>                 <!--Создание кнопки отправки формы. Тип: кнопка для отправления формы, на URL-адрес в action. Текст кнопки-->
    </div>
  </form>

  {% if prediction is defined %}                                      <!--Начало проверки определения переменной, передана ли Flask-->
    <h2>Рекомендованное соотношение: {{ prediction }}</h2>            <!--Отображение заголовка второго уровня с текстом, а также значение переменной-->
  {% endif %}                                                         <!--Конец блока с условием-->

  {% with messages = get_flashed_messages() %}                        <!--Функция из Flask для получения сообщения, добавленного с помощью flask()-->
    {% if messages %}                                                 <!--Проверка наличия сообщения-->
      <ul>                                                            <!--Создание неупорядоченного списка-->
        {% for m in messages %}                                       <!--Перебор всех сообщений в списке messages-->
          <li>{{ m }}</li>                                            <!--Создание элемента списка (list item) для каждого сообщения, содержащегося в переменной m-->
        {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}                                                       <!--Последний блок удобен для отображения сообщений об ошибках или, наоборот, успешом выполнении -->
</body>
</html>
